.titleAixland--wrapper {
    margin-top: 150px;
    margin-bottom: 20px;
    line-height: 0.7;
    max-width: 100%;
}

.titleAixland--wrapper h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 13vw;
    font-weight: bold;
    font-family: Goldman, Bold;
    text-transform: uppercase;

 }

.titleAixland--wrapper::before {
    display: block;
    content: "";
    border-bottom: 1px solid #B0B7B9;
    opacity: 0.4;
}

.titleAixland--wrapper::after {
    display: block;
    content: "";
    border-bottom: 1px solid #B0B7B9;
    opacity: 0.4;

}

.titleAixland--wrapper h1 span {
    color: #21B48C;
}


@media screen and (max-width: 1440px) {
    .titleAixland--wrapper h1 {
        font-size: 13vw;
    }
}

@media screen and (max-width: 1024px) {
    .titleAixland--wrapper h1 {
        font-size: 13vw;
    }
}

@media screen and (max-width: 768px) {
    .titleAixland--wrapper {
        margin-top: 100px;

    }
    .titleAixland--wrapper h1 {
        font-size: 12vw;
     }
}