.wrapper--fourth--page {
    border: 1px solid  #D9D9D9;
    width:175px;
    padding: 10px;
    display: flex;
    margin: 200px auto 0;
    border-radius: 80px;
}

.imagePageThree {
    width: 100px;
    margin: auto;
}

.page4Title {
    font-family: "Goldman";
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
    line-height: 33px;
    font-weight: Bold;
     width: 448px;
    margin: 16px auto;
}
.page4Title > span {
    color: #21B48C;
}

@media screen and (max-width: 768px)  {
    .wrapper--fourth--page {
        margin: 100px auto 0 auto;
     }
    .page4Title {
        font-size: 24px;
    }
}

@media screen and (min-width: 375px) and (max-width: 567px) {
    .page4Title {
         width: 328px;
    }
    .wrapper--fourth--page {
        width: 125px
    }
    .imagePageThree {
        width: 65px;
    }

}

