.image--romb {
    opacity: 0;
    transition: .3s;
}

.card-block:hover .image--romb-1 {
    transform: translateX(-51%) translateY(-77%);
    opacity: 1;
}

.card-block:hover .image--romb-2 {
    transform: translateX(51%) translateY(-77%);
    opacity: 1;
}

.card-block:hover .image--romb-3 {
    transform: translateX(-101%);
    opacity: 1;
}

.card-block:hover .image--romb-4 {
    transform: translateX(-52.5%) translateY(75%);
    opacity: 1;
}

.card-block:hover .image--romb-5 {
    transform: translateX(52.5%) translateY(75%);
    opacity: 1;

}


  

