.wrapper--romb {
    margin: 40px auto auto;
    position: relative;
}

.backgroundImageRombik {

    background-image: url("../../assets/image/RombikImageBackround.svg");
    background-repeat: no-repeat;
    background-size: contain ;
    background-position: center center;
}

.headerDugaRomb {
    width: 100%;
}

.hexStepCard--wrapper {
    display: grid;
    grid-template-columns: repeat(2, 520px);
    grid-template-rows: repeat(3, 440px);
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.card-block {
    background-image: url("../../assets/image/RedRomb.svg");
    background-size: cover;
    position: relative;
    width: 500px;
    height: 565px;
    cursor: pointer;
    z-index: 10;
}


.subCartImage {
    background-image: url("../../assets/image/RedBlockRomb.svg");
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    z-index: -1;
}

.subCartImage div {
    font-size: 32px;
    color: white;
    font-weight: bold;
}

.cardRomb--textTitle {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    z-index: -1;
}

.title--cardRombik {
    line-height: 35px;
    font-size: 40px;
    font-family: "Goldman", Regular;
}

.text--cardRombik {
    font-size: 16px;
    color: #424344;
    margin-top: 16px;
}


.hexStepCard--wrapper > :nth-child(3) {
    grid-column: 1 / -1;

}

@media screen and (max-width: 1550px) {
    .hexStepCard--wrapper {
        display: grid;
        grid-template-columns: repeat(2, 370px);
        grid-template-rows: repeat(3, 320px);
        justify-items: center;
        align-items: center;
    }
    .wrapper--romb {
         margin: 200px auto auto;
    }
    .card-block {
        width: 350px;
        height: 395px;
    }
    .subCartImage {
        width: 80px;
        height: 80px;
        position: absolute;
        left: 50%;
        top: 10%;
        transform: translate(-50%);
    }
    .title--cardRombik {

        font-size: 25px;
        line-height: 24px;
    }
    .text--cardRombik {
        margin-top: 16px;
        font-size: 10px;
    }
    .cardRomb--textTitle {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
    }

    .headerDugaRomb {
        margin-left: 0;
    }

}

@media screen and (max-width: 1440px) {

    .wrapper--romb {
        margin: 200px auto auto;
    }
}

@media screen and (max-width: 1024px) {
    .hexStepCard--wrapper {
        display: grid;
        grid-template-columns: repeat(2, 340px);
        grid-template-rows: repeat(3, 295px);
        justify-items: center;
        align-items: center;
    }
    .card-block {
        width: 330px;
        height: 370px;
    }
    .subCartImage {
        width: 60px;
        height: 60px;
        position: absolute;
        left: 50%;
        top: 15%;
        transform: translate(-50%);
    }
    .title--cardRombik {

        font-size: 25px;
        line-height: 24px;
    }
    .text--cardRombik {
        margin-top: 16px;
        font-size: 10px;
    }
    .cardRomb--textTitle {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
    }

    .headerDugaRomb {
        margin-left: 0;
    }
}

@media screen and  (max-width: 834px) {

    .hexStepCard--wrapper {
        display: grid;
        grid-template-columns: repeat(2, 280px);
        grid-template-rows: repeat(3, 245px);
        justify-items: center;
        align-items: center;
    }

    .wrapper--romb--content {
        margin-top: 70px;
    }

    .card-block {
        width: 270px;
        height: 300px
    }
}

@media screen and (min-width: 375px) and (max-width: 567px) {
    .hexStepCard--wrapper {
        grid-template-columns: repeat(1, 340px);
        grid-template-rows: repeat(1, 295px);
        grid-row-gap: 20px;
    }
    .hexStepCard--wrapper > :nth-child(2) {

        align-self: center;
    }

}