.wrapper--romb {
    width: 1920px;
    margin: 200px auto auto;
    position: relative;
 }

.headerDugaRomb {
    width: 100%;
 }

.hexStepCard--wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}

.card-block {
    background-image: url("../../assets/carouselImage/CardRomb.svg");
    background-size: cover;
    position: relative;
    width: 500px;
    height: 565px;
    cursor: pointer;
    z-index: 10;
}


.subCartImage {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    z-index: -1;
}

.cardRomb--textTitle {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    z-index: -1;
}

.title--cardRombik {
    line-height: 35px;
    font-size: 40px;
}

.text--cardRombik {
    font-size: 16px;
    color: #898989;
    margin-top: 16px;
}

.hexStepCard--wrapper > :nth-child(1) {
    transform: translateX(44.5%)  ;

}
.hexStepCard--wrapper > :nth-child(2) {
    transform: translateX(-44.5%)  ;
}

.hexStepCard--wrapper > :nth-child(3) {
    grid-column: 1 / -1;
    margin-top: -120px;
}

.hexStepCard--wrapper > :nth-child(4) {
    transform: translateX(44.5%) translateY(-20%);
 }

.hexStepCard--wrapper > :nth-child(5) {
    transform: translateX(-44.5%) translateY(-20%);
}



@media screen and (max-width: 1550px){
    .wrapper--romb {
        width: 1500px;
        margin: 200px auto auto;
    }
    .card-block {
        width: 350px;
        height: 395px;
    }
    .subCartImage {
        width: 50px;
        position: absolute;
        left: 50%;
        top: 10%;
        transform: translate(-50%);
    }
    .title--cardRombik {
        font-size: 25px;
        line-height: 24px;
    }
    .text--cardRombik {
        font-size: 10px;
    }
    .cardRomb--textTitle {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
    }
    .hexStepCard--wrapper > :nth-child(1) {
        transform: translateX(55%) translateY(-25%);

    }

    .hexStepCard--wrapper > :nth-child(2) {
        transform: translateX(-55%) translateY(-25%);
    }

    .hexStepCard--wrapper > :nth-child(3) {
        grid-column: 1 / -1;
        transform:  translateY(-15%);

    }

    .hexStepCard--wrapper > :nth-child(4) {
        transform: translateX(55%) translateY(-35%);
    }

    .hexStepCard--wrapper > :nth-child(5) {
        transform: translateX(-55%) translateY(-35%);
    }
    .headerDugaRomb {
        margin-left: 0;
    }

}