.spinner-container {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 100px auto;
}

.spinner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transition: transform 0.2s ease-out;
}

.spinner-item {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center -120px;
    background-color: #f00;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    pointer-events: none;
}
