.wrapper--page--second {
    border: 1px solid  #D9D9D9;
    width:175px;
    height: 90px;
    padding: 10px;
    display: flex;
    margin: 200px auto 16px auto;
    border-radius: 80px;

}

.imagePage {
    width: 100px;
    margin: auto;
}

.pageSecondTitle {
    font-family: "Goldman";
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    width: 417px;
    margin: 16px auto;
    text-transform: uppercase;
}
.pageSecondTitle > span {
    color: #21B48C;
}