.contact-form-section {
    border-radius: 24px;
    width: 770px;
    height: 567px;
    margin: auto;
    background: no-repeat  center center url("../../assets/image/ContactAixlandRamka.svg") ;
    padding: 42px 60px 28px 60px;
    background-size: contain;
    box-sizing: border-box;
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contactInput.message {
    height: 150px;
    max-height: 170px; /* Предотвращает превышение высоты */
    min-height: 60px;
     overflow: auto; /* Добавляет полосу прокрутки, если содержимое превышает высоту */
    flex-shrink: 0;
}


.contact-form-section .section-header {
    display: flex;
}

.contact-form-section .section-header .content-container {
    align-self: center;
    padding: 7rem;
}

.contact-form-section .section-header .content-container .content-title {
    font-size: 63px;
    font-weight: 700;
    line-height: 67px;
}

.contact-form-section .section-header .content-container .content-text {
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 400;
    margin-top: 24px;
}

.contact-form-section .contact-form .form-group .contactInput {
    width: 545px;
    padding: 16px 20px;
    background-color: #F7F7F7;
     margin: 14px 0;
    color: #25282A;
    font-size: 17px;
}

.text--contact {
    text-align: center;
    color: #9D9DA3;
    font-size: 18px;
    font-family: "Golos Text";
    width: 308px;
    margin: 0 auto;
}

.contact--btn {
    background-image: url("../../assets/image/orangBtn.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    width: 288px;
    margin: 20px auto;
    height: 78px;
    cursor: pointer;
}

.content--title--btn {
    font-size: 20px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .contact-form-section {
        background:none;
        width: 100%;
     }
    .contact-form-section .contact-form .form-group .contactInput {
        width: 700px;
        max-width: 100%;
    }
    .contact--btn {

    }
}