.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1880px;
    max-width: 100%;
    height: 600px;
    margin: 30px auto;
    position: relative;
}

.border--carousel {
    background-image: url("../../assets/image/SliderBorder.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 150px; /* Высота под изображение */
    position: absolute;
    top: -55%;
}

.text-navigation-container {
    text-align: center;
    width: 100%;
}

.border--carousel-text {
    color: black;
    position: absolute;
     font-size: 16px;
    margin-bottom: 10px; /* Отступ между текстом и навигацией */
}

.navigation {
    display: inline-block; /* Для центрирования навигации под текстом */
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 40px;
}

.navigation button {
    background-color: transparent;
    border: 0;
}

.carousel--subtitle {
    font-family: "Goldman", sans-serif;
    line-height: 28px;
    font-size: 32px;
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translate(-50%,-25%);
    padding: 10px;
    text-align: center;
}

.carousel--subtitle span {
    color: #E03C31;
}

.carousel--text {
    color:#5F5F5F ;
    position: absolute;
    text-align: center;
    line-height: 18px;
    width: 302px;
    top: -10%;
    left: 50%;
    transform: translate(-50%,-20%);
}

.carousel--btn {
    background-image: url("../../assets/image/Frame 427319273.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 5%;
    width: 288px;
    height: 78px;
    cursor: pointer;
}
.carousel--btn {
    font-size: 20px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item {
    display: flex;
    flex-direction: column; /* Размещаем элементы по вертикали */
    align-items: center; /* Центровка изображения и текста */
    margin: 0 10px;
}