

.fancy-carousel-wrapper-element {
    position: relative;
    overflow: hidden;
    height: 450px;
    width: 100%; /* Ширина контейнера */
    overflow: hidden; /* Скрываем все элементы, которые выходят за пределы контейнера */
    display: flex;
    justify-content: center;
    margin-top: -5% ;
}

.fancy-carousel-navigators {
    margin-left: 0;
}

.wrapper--header--duga {
    display: flex;
    justify-content: center;
}

.fancy-carousel-element {
    width: 600px;
    max-width: 100%;
    height: 600px;
}

.fancy-carousel-element.right-1 img,.fancy-carousel-element.left-1 img {
    opacity: 0.5;
    width: 400px;
}

.fancy-carousel-element.right-2 ,.fancy-carousel-element.left-2 {
    opacity: 0;

}

.right-2 img,.left-2 img {
    width: 400px;
}

.center img {
    width: 500px;
}


.hidden {
    opacity: 0;
}


.fancy-carousel-border {
    margin-top: 150px;
    z-index: -1;
}


.fancy-carousel-element img {
    border-radius: 0%;
    object-fit: contain; /* Пропорциональное масштабирование изображений */

}

.fancy-carousel-navigation-button {
    background-color: #cb786c;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    margin: 10px;
}

.fancy-carousel-navigation-button:hover {
    background-color: #a55c53;
}

.btn--wrapper-spinner {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; /* Кнопки навигации остаются видимыми поверх карусели */
}



/*@media screen and (max-width: 1440px){*/
/*    .carousel-wrapper {*/
/*        width: 1200px;*/
/*        margin: 250px auto 0 auto;*/
/*    }*/
/*    .carousel-container {*/
/*        position: absolute;*/
/*        left: -22%;*/
/*        top: -52%;*/
/*     }*/
/*    .carousel-item img  {*/
/*        width: 330px;*/
/*    }*/

/*    .carousel-item.right-1 {*/
/*        transform: translateX(24%) translateY(75%) rotate(21deg);*/
/*        width: 280px;*/
/*     }*/

/*    .carousel-item.left-1 {*/
/*        transform: translateX(13%) translateY(70%) rotate(-21deg);*/
/*        width: 280px;*/
/*     }*/
/*    .carousel-item.center {*/
/*        transform: translateY(59%)*/
/*    }*/
/*    .item-alt-text {*/
/*        position: absolute;*/
/*        bottom: -10.5%;*/
/*        right: 46.7%;*/
/*        transform: translate(-50%,-50%);*/
/*    }*/

/*}*/


@media screen and (max-width: 1240px)  {

    .item-alt-text {
        bottom: -19.5%;
        right: 43%;
        transform: translate(-50%,-50%);
    }
    .fancy-carousel-element.right-1 img,.fancy-carousel-element.left-1 img {
        opacity: 0.5;
        width: 450px;
    }

    .fancy-carousel-element.right-2 ,.fancy-carousel-element.left-2 {
        opacity: 0;

    }

    .right-2 img,.left-2 img {
        width: 400px;
    }

    .center img {
        width: 500px;
    }
}

@media screen and (max-width: 1040px) and (min-width: 940px) {

    .item-alt-text {
        bottom: -15.5%;
        right: 44.5%;
        transform: translate(-50%,-50%);
    }
}

@media screen and (min-width: 768px) and (max-width: 939px) {
    .item-alt-text {
        font-size: 15px;
        bottom: -14.5%;
        right: 43.8%;
    }

}

@media screen and (min-width: 568px) and (max-width: 768px) {
    .item-alt-text {
        bottom: -19.5%;
        right: 43%;
        transform: translate(-50%,-50%);
    }

    .center img {
        width: 430px;
    }

    .fancy-carousel-element.right-1 img,.fancy-carousel-element.left-1 img {
        opacity: 0.5;
        width: 390px;
    }

    .fancy-carousel-element.right-2 ,.fancy-carousel-element.left-2 {
        opacity: 0;
    }

    .right-2 img,.left-2 img {
        width: 400px;
    }

    .item-alt-text {
        font-size: 15px;
        bottom: -20.5%;
        right: 43.8%;
    }
}

@media screen and (max-width: 500px) {
    .fancy-carousel-wrapper-element{
        height: 400px;
    }
    .fancy-carousel-element.right-1 img,.fancy-carousel-element.left-1 img {
        opacity: 1;
        width: 350px;
    }
    .center img {
        margin-right: 30px;
        max-width: 350px;
        width: 100%;
    }
}
