.carousel-wrapper {
    position: relative;
    width: 1920px;
    margin: 250px auto;
    z-index: 1;
}

.carousel-container {
    max-width: 100%;
    position: absolute;
    left: -28%;
    top: -65%;
}

.carousel-viewport {
   ; /* Высота видимой области */
    overflow: hidden; /* Скрываем нижнюю часть карусели */
}
.image--carousel {
    opacity: 1;
    transform: scale(2.3);
    user-drag: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
}


.slider {
    position: relative;
}

.slide {
    transition: transform .5s,opacity 0s ;
}


.slider--alt {
    text-align: center;
}

.carousel-item.center {
    opacity: 1;
    z-index: 2;
    transform: translateY(60%);
    display: flex;
    justify-content: center;

}

.carousel-item.right-1 {
    opacity: 0.4;
    z-index: 1;
    transform: translateX(-10%) translateY(60%) rotate(35deg);
}

.carousel-item.right-2 {
    opacity: 0.6;
    z-index: 1;
    transform: translateY(100%);
    display: none;
}

.carousel-item.left-1 {
    opacity: 0.4;
    z-index: 1;
    transform: translateX(10%) translateY(60%) rotate(-35deg);
}

.carousel-item.left-2 {
    opacity: 0.6;
    z-index: 0;

    display: none;
}

.carousel-item.hidden{
    opacity: 0.6;
    z-index: 1;
}
.carousel-item. {
    transform: translateY(50%);
}

.image {
    z-index: 10;
    transition: width 0.5s ease-in-out,  opacity 0s ;
    user-drag: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}
.item-alt-text {
    z-index: 2;
    color: #E03C31;
    font-size: 20px;
    position: absolute;
    bottom: -6px;
    text-align: center;
}

.carousel-item.right-1 .item-alt-text ,.carousel-item.right-2 .item-alt-text {
    display: none;
}

.carousel-item.left-1 .item-alt-text ,.carousel-item.left-2 .item-alt-text {
    display: none;
}

.carousel-item.hidden .item-alt-text {
    display: none;
}

@media (max-width: 1550px) {
    .carousel-wrapper {
        width: 1500px;
        margin-top: 250px;
    }
    .carousel-container {
        position: absolute;
        left: -50%;
        top: -65%;
        transform: translate(-39%, -50%);
    }
    .item-alt-text {
        z-index: 2;
        color: #E03C31;
        font-size: 20px;
        position: absolute;
        bottom: -9px;
        right: 47%;
        text-align: center;
    }
}

@media (max-width: 1280px) {
    .carousel-wrapper {
        width: 1200px;
        margin: 250px auto;
    }
    .carousel-container {
        position: absolute;
        left: -75%;
        top: -52%;
    }
    .image {
        transform: scale(1);
    }
    .item-alt-text {
        position: absolute;
        right: 47%;
    }
}

