.wrapper--forms--video {
    background-image: url("../../assets/image/video.svg");
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    margin: 80px auto 30px auto;
    border-radius: 15px;
    width: 1920px;
    clip-path: polygon(0.00% 0.00%, 100% 0%, 100% 88.4%, 20.5% 88.4%, 15.5% 100%, 0% 100%);
    aspect-ratio: 16 / 7;
}

    .wrapper--forms--video img {
    width: 100%;
    height: auto;
    border-radius: inherit; /* Наследуем border-radius от родителя */
 }

@media screen and (max-width: 1024px) {
    .wrapper--forms--video {
        width: 100%;
        /*clip-path:polygon(0.00% 0.00%, 100% 0%, 100% 88.9%, 20.4% 88.9%, 15.5% 99%, 0% 99%);*/
        height: 476px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 834px) {
    .wrapper--forms--video {
        width: 100%;
        clip-path: polygon(0.00% 0.00%, 100% 0%, 100% 86%, 20% 86%, 15.5% 98%, 0% 98%);

        margin-top: 20px;
         height: 20rem;
    }

}

@media screen and (max-width: 710px){
    .wrapper--forms--video {
        width: 100%;
        clip-path: polygon(0.00% 0.00%, 100% 0%, 100% 87%, 20% 87%, 15% 97%, 0% 97%);
        margin-top: 20px;
        height: 20rem;
    }

}

@media screen and  (max-width: 568px) {
    .wrapper--forms--video {
        width: 100%;
        clip-path: none;
        height: 343px;
    }
}

