.wrapper--blue--block {
    background-image: url("../../assets/image/Group 1321318498.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    aspect-ratio: 1880 / 545;
    max-width: 1920px;
    margin: -125px  auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}


@media screen and (max-width: 1550px){
    .wrapper--blue--block {
        margin: -102px  auto;
    }

}


@media screen and (max-width: 1240px)  {
    /*.wrapper--blue--block {*/
    /*    aspect-ratio: 16 / 9; !* Change to a more standard ratio if necessary *!*/
    /*    padding: 2%;*/
    /*    width: 100%;*/
    /*    max-width: 1024px;*/
    /*    margin: 0 auto;*/
    /*}*/


}

@media screen and (max-width: 1024px){
    .wrapper--blue--block {
        width: 100%;
        max-width: 1024px;
    }
}

@media screen and (max-width: 834px){
    .wrapper--blue--block {
        margin-top:-70px
    }

}

@media screen and (max-width: 710px){
    .wrapper--blue--block {
        margin-top:-68px
    }

}

@media screen and (min-width: 375px) and (max-width: 568px) {
    .wrapper--blue--block {
        background: url("../../assets/image/GreenBlock375.svg");
        background-size: cover;
        background-position: center center;
        max-width: 100%;
        margin: -25px auto;
        border-radius: 15px;
        width: 568px;
         aspect-ratio: 9 / 7;
    }
}

