.wrapper-page {
    border: 1px solid  #D9D9D9;
    width:175px;
    height: 90px;

    display: flex;
    margin: 40px auto 0;
    border-radius: 80px;

}

.imagePage {
    width: 82px;
    margin: auto;
    padding: 15px 10px;
}

.pageFirstTitle {
    font-family: "Goldman";
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    line-height: 32px;
     width: 369px;
    margin: 16px auto;
    text-transform: uppercase;
}
.pageFirstTitle > span {
    color: #21B48C;
}