.footer--wrapper {
    background-color: #21B48C;
    width: 100%;
    margin: 60px auto 10px auto;
    border-radius: 20px;
    clip-path: polygon(
            0 0, 30% 0, 32% 11px, 68% 10px, 70% 0, 100% 0,
            100% 100%, 70% 100%, 68% calc(100% - 11px), 32% calc(100% - 10px), 30% 100%, 0 100%
    );
}

.footer {
    margin: auto;
    padding-bottom: 40px;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.wrapper--footerAxi--logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px auto;
    width: 95%;
}

.wrapper--footerAxi--logo img {
    width: 100%;
    padding-bottom: 50px;
}

.footer--wrapper-content {
    display: flex;
    justify-content: center;
    padding-top: 154px;
    align-items: center;
    max-width: 700px;
    width: 100%;
    margin: auto;

}



.footer--nav {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
}

.footer--content--nav {
    background-color: #EAEAEA;
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 60px;
    margin-left: 16px;
    margin-right: 16px;
    max-width: 100%;
 }

.footer--nav li {
    font-family: "Golos Text", sans-serif;
    font-size: 24px;
    color: #9D9DA3;
    margin-left: 16px;
    cursor: pointer;
}

.footer--contacts {
    text-align: center;
    margin-top: 54px;
    font-family: "Goldman", Regular;
    font-size: 24px;
    line-height: 27px;
    color: white;
    padding-bottom: 47px;
    box-sizing: border-box;
}

.footer--bottom--content {
    font-family: "Golos Text", sans-serif;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    color: #000000;
}

.footer--bottom--oneTitle {
    margin-left: 36px;
    color: #fff;
}

.footer--bottom--three {
    margin-right: 36px;
    color: #fff;
}

.footer--bottom--link {
    border: 1px solid #EAEAEA;
    padding: 16px 30px;
    border-radius: 40px;

    background-color: white;
    color: #000000;
    font-size: 16px;
    text-decoration: none;
}

@media screen and (max-width: 1440px) {

}

@media screen and (min-width: 771px) and (max-width: 1024px) {
    .footer--wrapper {
        max-width: 100%;
        padding: 0;
    }
}

@media screen and (min-width: 568px) and (max-width: 770px) {
    .footer--wrapper-content {
        padding-top: 100px;
    }
    .footer--nav li {
        font-size: 16px;
    }
}

@media screen and (min-width: 375px) and (max-width: 567px) {

    .footer--wrapper-content {
        padding-top: 100px;
    }

    .footer--contacts {
        margin-top: 24px;
        font-size: 16px;
        line-height: 27px;

    }
    .footer--content--nav {
        padding: 0;
        background-color: transparent;
    }

    .footer--nav li {
        color: white;
    }

    .footer--nav {
        display: block;
    }
    .footer--circle {
        display: none;
    }
    .footer--bottom--oneTitle,.footer--bottom--three {
        font-size: 10px;
        margin: 0 10px;
    }
    .footer--bottom--link {
        font-size: 10px;
    }
}
