.fancy-carousel-wrapper-element {
    position: relative;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    user-select: none;
}

.fancy-carousel-border {
    position: absolute;
}

.fancy-carousel {
    position: relative;
    transform-origin: center center;
    transition: transform 0.5s ease;
}

.fancy-carousel-element {
    position: absolute;
    transform-origin: center center;
}

.fancy-carousel-image {
    width: 100px;
    transform: scale(2.25);
    height: 100%;
    border-radius: 50%;
}
