.world--logo--wrapper {
    background: url("../../assets/image/HeaderLogoX.svg") center;
    background-size: cover;
    height: 1253px;
    margin-top: 50px;
    position: relative;
 }
.wrapper--logo--world  {
    display: flex;
    justify-content: center;
    align-items: center;


}

.world--logoAix {
    display: flex;
    justify-content: center;
}
.world {
    width: 100%;
    height: 800px;
  }

.world--btn {
    background-image: url("../../assets/image/orangBtn.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 288px;
    height: 78px;
    cursor: pointer;
    font-size: 18px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



@media screen and (max-width: 1024px) {
    .world--logo--wrapper {
         height: 880px;
    }
    .world--Aix {
        width: 400px ;
    }

    .world {
        width: 938px;
        height: 548px;
    }
    .world--btn {
        width:220px;
        height: 60px;
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, -40%);
    }
}



@media screen and (max-width: 567px) {
     .world--logo--wrapper {
         height: 393px;

     }
    .world--Aix {
        width: 150px ;
    }
    .world {
         /* Или попробуй задать большую высоту */
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 270px;
     }
    .world--btn {
        position: absolute;
        bottom: -35%;
        left: 50%;
        transform: translate(-50%, 0);
        align-self: center;
     }
}